footer {
  background-color: #bcf7ff;
  display: flex;
  justify-content: space-between;
  height: 120px;
  padding-top: 25px;
}

.footer-container__image-titulo {
  position: relative;
  bottom: 5px;
  left: 10px;
  padding-left: 10px;
  text-align: center;
}

.footer-container__image {
  height: 45px;
  width: 45px;
}

.footer-container__turing-wash {
  position: relative;
  bottom: 8px;
  font-weight: bold;
  font-size: 12px;
}

.footer-container__instagram-rodape_arroba {
  position: relative;
  bottom: 1.5px;
  display: flex;
  justify-content: flex-end;
  font-size: 15px;
  padding-right: 10px;
}

.footer-container__instagram-rodape_direitos {
  position: relative;
  top: 28px;
  display: flex;
  justify-content: flex-end;
  font-weight: 400;
  font-size: 10px;
  padding-top: 30px;
  padding-right: 10px;
}

.footer-container__instagram {
  position: relative;
  top: 45px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 16px;
}

.footer-container__instagram-rodape_logo {
  padding-right: 5px;
}

.footer-container__sobre,
.footer-container__faq,
.footer-container__contato,
.footer-container__termo {
  padding-bottom: 7px;
  font-size: 15px;
}

@media screen and (max-width: 768px) {
  footer {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .footer-container__instagram-rodape {
    position: relative;
    bottom: 40px;
  }

  .footer-container {
    padding-left: 24px;
  }

  .footer-container__instagram-rodape_direitos {
    position: relative;
    top: 28px;
    display: flex;
    justify-content: flex-end;
    font-weight: 400;
    font-size: 7px;
    padding-top: 30px;
    padding-right: 10px;
    padding-bottom: 14px;
  }
  
  .footer-container__instagram {
    position: relative;
    top: 45px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    font-size: 16px;
  }
  
  .footer-container__instagram-rodape_logo {
    padding-right: 5px;
    height: 10px;
    width: 10px;
  }

  .footer-container__instagram-rodape_arroba {
   font-size: 8px;
  }
}
