.main-content {
    background-color: #EAF7FF;
    padding-bottom: 200px;  
  }
  
  .main-content__title {
    display: flex;
    justify-content: center;
    padding: 80px 93px 23px 93px;
    font-weight: bold;
    font-size: 20px;
  }
  