html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}


.header-container,
.header-container__lista{
    background-color: #BEF7FE; /* #BEF7FE */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

li {
    padding-right: 40px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #000;
}
