body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* header */

.header-container__image {
  height: 55px;
  width: 55px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.header-container__turing-wash {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  padding-left: 5px;
  padding-bottom: 5px;
}

.header-container,
.header-container__lista {
  background-color: #bcf7ff; /* #BEF7FE */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

li {
  padding-right: 40px;
  font-size: 20px;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #000;
}

.main-content {
  background-color: #eaf7ff; /* #EAF7FF */
}

.main-content__title {
  display: flex;
  justify-content: center;
  padding: 26px 93px 23px 93px;
  font-weight: bold;
  font-size: 20px;
}

.ordination-container__label,
.ordination-container__select-input {
  font-size: 15px;
}

.ordination-container__select-input {
  background-color: transparent;
  border: none;
  font-weight: bold;
}

.ordination-container {
  padding-left: 35px;
  padding-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ordination-container__options {
  padding-right: 70rem;
}

.client-list__picture {
  height: 100px;
  width: 100px;
}

.client-list {
  background-color: #fff;
  margin-left: 35px;
  width: 500px;
  padding-left: 40px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.client-list__client-info {
  display: inline;
}

.client-list__client-name {
  position: relative;
  display: inline;
  padding-left: 10px;
}

.client-list__client-infos {
  position: absolute;
  display: inline;
  padding-left: 250px;
}

.client-list__client {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px;
}

.client-list__client-price {
  background-color: #dcfcfe;
}

.client-list__client-avaliation {
  background-color: transparent;
  border: none;
  font-size: 18px;
}

button {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.client-list__client-wash {
  background-color: #8FF2FF;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
}

.client-list__client-wash:hover{
  background-color: #73e6f5
}

footer {
  background-color: #BCF7FF;
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding-top: 25px;
}

.footer-container__image-titulo {
  padding-left: 10px;
  text-align: center;
}

.footer-container__image {
  height: 40px;
  width: 40px;
}

.footer-container__turing-wash {
  font-weight: bold;
  font-size: 10px;
}


.footer-container__instagram-rodape_arroba {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}


.footer-container__instagram-rodape_direitos {
  display: flex;
  justify-content: flex-end;
  padding-top: 30px;
  padding-right: 10px;
}