@import url("./header.css");
@import url('./footer.css');
@import url('./botoes.css');
@import url('./pedirlavagem.css');
@import url('./main-content.css');
@import url('./meuscarros.css');
@import url('./addcar.css');
@import url('./minhaslavagens.css');
@import url('./login.css');

:root {
  --black: #000;
  --white: #fff;
  --blue: #BCF7FF;
  --blue-light: #EAF7FF;
  --blue-medium-light: #DCFCFE;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

button {
  border: none;
  background-color: transparent;
}