body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

/* header */

.header-container__lista_sair {
  position: relative;
  right: 10px;
  background-color: #8FF2FF;
  border-radius: 5px;
  padding: 5px;
}

.header-container__lista_sair:hover {
  background-color: #62e4f5;
}


.header-container__image {
  height: 55px;
  width: 55px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.header-container__turing-wash {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  padding-left: 5px;
  padding-bottom: 5px;
}

.header-container,
.header-container__lista {
  background-color: #bcf7ff; /* #BEF7FE */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

li {
  padding-right: 40px;
  font-size: 20px;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #000;
}

/* main */

.main-content {
  background-color: #eaf7ff; /* #EAF7FF */
}

.main-content__title {
  display: flex;
  justify-content: center;
  padding: 26px 93px 23px 93px;
  font-weight: bold;
  font-size: 20px;
}

.ordination-container__label,
.ordination-container__select-input {
  font-size: 15px;
}

.ordination-container__select-input {
  background-color: transparent;
  border: none;
  font-weight: bold;
}

.ordination-container {
  padding-left: 35px;
  padding-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ordination-container__options {
  padding-right: 70rem;
}

/* client infos */

.client-list__picture {
  height: 100px;
  width: 100px;
}

.client-list {
  display: flex;
  justify-content: flex-start;
  padding-left: 50px;
  margin: 20px;
  background-color: #fff;
  border-radius: 20px;
}

.client-list__usuario {
  display: flex;
  align-items: flex-start;
}

.client-list__client {
  padding-top: 10px;
  display: flex;
  justify-content: space-evenly;
}

.client-list__client-infos {
  position: absolute;
  right: 100px;
}
.client-list__client-name {
  padding-top: 20px;
  font-weight: bold;
}

.client-list__client-score {
  position: relative;
  right: 10px;
  font-weight: bold;
  font-size: 15px;
}

.client-list__client-price {
  position: relative;
  bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 10px 0 0;
  height: 27px;
  width: 59px;
  background-color: #dcfcfe;
  font-weight: bold;
}

.client-list__botoes {
  position: relative;
  top: 20px;
}

/* botoes */

.client-list__client-avaliation {
  background-color: transparent;
  border: none;
  padding-top: 10px;
  font-size: 18px;
}

button {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.client-list__client-wash {
  background-color: #8ff2ff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
}

.client-list__client-wash:hover {
  background-color: #73e6f5;
}

/* footer */

footer {
  background-color: #bcf7ff;
  display: flex;
  justify-content: space-between;
  height: 120px;
  padding-top: 25px;
}

.footer-container__image-titulo {
  position: relative;
  bottom: 5px;
  left: 10px;
  padding-left: 10px;
  text-align: center;
}

.footer-container__image {
  height: 45px;
  width: 45px;
}

.footer-container__turing-wash {
  position: relative;
  bottom: 8px;
  font-weight: bold;
  font-size: 12px;
}

.footer-container__instagram-rodape_arroba {
  position: relative;
  bottom: 1.5px;
  display: flex;
  justify-content: flex-end;
  font-size: 15px;
  padding-right: 10px;
}

.footer-container__instagram-rodape_direitos {
  position: relative;
  top: 28px;
  display: flex;
  justify-content: flex-end;
  font-weight: 400;
  font-size: 10px;
  padding-top: 30px;
  padding-right: 10px;
}

.footer-container__instagram {
  position: relative;
  top: 45px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 16px;
}

.footer-container__instagram-rodape_logo {
  padding-right: 5px;
}

.footer-container__sobre,
.footer-container__faq,
.footer-container__contato,
.footer-container__termo {
  padding-bottom: 7px;
  font-size: 15px;
}

/* MEUS CARROS */

.main-content {
  background-color: #EAF7FF;
}


.main-content__section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  margin-top: 30px;
  margin-left: 400px;
  margin-right: 400px;
  background-color: #fff;
  border-radius: 10px;
}

.main-content__nome {
  font-weight: bold;
  position: relative;
  bottom: 25px;
  right: 20px;
}

.main-content__ano {
  position: relative;
  bottom: 20px;
  right: 20px;
}

.main-content__excluir-carro {
  padding: 10px;
  font-weight: bold;
  font-size: 15px;
  background-color: #ff9b9b;
  border: none;
  border-radius: 10px;
  position: relative;
  top: 30px;
  left: 20px;
}

.main-content__excluir-carro:hover {
  background-color: #fa7e7e;
}

/* botão adicionar carro */
.main-content__addCar {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 300px;
  background-color: #EAF7FF;
}

.main-content__addCar_button {
  font-size: 20px;
  font-weight: bold;
  background-color: #8ff2ff;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.main-content__addCar_button:hover {
  background-color: #5ce5f7;
}


/* ADICIONAR CARRO */

.section-container {
  
  padding: 40px;
  margin-top: 30px;
  margin-left: 400px;
  margin-right: 400px;
  background-color: pink;
  border-radius: 10px;
}