@import url("./header.css");
@import url('./footer.css');
@import url('./botoes.css');
@import url('./pedirlavagem.css');
@import url('./main-content.css');
@import url('./meuscarros.css');

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

/* MEUS CARROS */




/* ADICIONAR CARRO */

.section-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 40px;
  padding-bottom: 40px;
  margin-top: 30px;
  margin-left: 400px;
  margin-right: 400px;
  background-color: #fff;
  border-radius: 10px;
}

.section-container__fabricante,
.section-container__modelo,
.section-container__ano {
  font-weight: bold;
  padding-bottom: 8px;
  padding-top: 8px;
}


.section-container__select_fabricante,
.section-container__select_modelo {
  width: 248px;
  height: 22px;
  border-radius: 10px;
}

.section-container__select_ano {
  width: 69px;
  height: 22px;
  border-radius: 10px;
}



/* MINHAS LAVAGENS */

.main-content__tudo {
  padding-bottom: 300px;
  background-color: #EAF7FF
}



.main-content__article {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  margin-top: 50px;
  margin-right: 500px;
  margin-left: 500px;
}


.article__infos {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.article__cliente-nome {
  font-weight: 700;
}

.article__veiculo-modelo {
  font-weight: 700;
}

.article__infos-money {
  background-color: #62e4f5;
  font-weight: bold;
  padding: 10px;
  position: relative;
  bottom: 30px;
  left: 30px;
  border-radius: 0 10px 0 0;
}

.article__infos-data {
  position: relative;
  top: 20px;
  left: 20px;
}

.article__veiculo {
  position: relative;
  right: 50px;
}
